body {
    text-align: center;
    margin: 0;
    padding: 0;
}

.slider {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slides img {
    width: 100%;
    display: none;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

footer p {
    margin-top: 20px;
}
